{% extends 'challenge_generic.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles_leaderboard.css' %}">
{% endblock %}
{% block content %}
{% if submissions %}
<div class="container">
  <h2><br>Leaderboard for {{factor}} of {{challenge}}</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">User</div>
      <div class="col col-2">Test Cases Found</div>
      <div class="col col-3">Test Cases Minus Repeats</div>
      <div class="col col-4">Percentile Within Group</div>
    </li>
    {% for submission in submissions %}
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">{{submission.submission.user}}</div>
      <div class="col col-2" data-label="Customer Name">no statistics</div>
      <div class="col col-3" data-label="Amount">no statistics</div>
      <div class="col col-4" data-label="Payment Status">no statistics</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="center_text">
<br><br><br><br><br><br>
<p>There are no submissions yet</p>
</div>
{% endif %}
{% endblock %}
